## Regex Exercises

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

2. Write a function named is_validusername that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

3. Write a regular expression to capture phone numbers.

4. Use regular expressions to convert the dates below to the standardized year-month-day format.

5. Write a regex to extract the various parts of these logfile lines:

6. Use this file to answer the following questions:
    - How many words have at least 3 vowels?
    - How many words have at least 3 vowels in a row?
    - How many words have at least 4 consonants in a row?
    - How many words start and end with the same letter?
    - How many words start and end with a vowel?
    - How many words contain the same letter 3 times in a row?
    - What other interesting patterns in words can you find?

In [1]:
import numpy as np
import pandas as pd
import re

> Write a function named is_vowel.
It should accept a string as input and use a regular expression to determine if the passed string is a vowel.
While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [5]:
def is_vowel(letter):
    vowels_only = r'[AEIOUaeiou]'
    return bool(re.search(vowels_only, letter))

In [7]:
is_vowel('q')

False

In [8]:
is_vowel('e')

True

> Write a function named is_valid_username that accepts a string as input.
A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [39]:
def is_valid_username(username):
    valid_username_re = r'^[a-z][a-z0-9_]{,31}$'
    return re.match(valid_username_re, username) is not None

In [40]:
is_valid_username('codeup')

True

In [41]:
is_valid_username('1code')

False

In [42]:
is_valid_username('chasechasechasechasechasechasechasechase')

False

In [43]:
is_valid_username('Codeup')

False

In [44]:
is_valid_username('cOdeup')

False

> Write a regular expression to capture phone numbers. It should match all of the following:

In [46]:
phone = "(210) 867 5309", "+1 210.867.5309","867-5309","210-867-5309"
phone = pd.DataFrame(phone, columns=["number"])
phone

            number
0   (210) 867 5309
1  +1 210.867.5309
2         867-5309
3     210-867-5309

In [47]:
phone.number.str.extract(r'(?P<country_code>\d)?\D*?(?P<area_code>\d{3})?\D*?(?P<prefix>\d{3})\D*?(?P<line>\d{4})$',expand=True)

  country_code area_code prefix  line
0          NaN       210    867  5309
1            1       210    867  5309
2          NaN       NaN    867  5309
3          NaN       210    867  5309

> Use regular expressions to convert the dates below to the standardized year-month-day format.

In [60]:
dates = ['02/04/19', '02/05/19',
          '02/06/19', '02/07/19',
          '02/08/19', '02/09/19',
          '02/10/19']
for i in dates:
    print(re.sub(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2',i))

2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10

> Write a regex to extract the various parts of these logfile lines:

In [108]:
log_files = pd.Series(['''GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58''',
'''POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58''',
'''GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''])

In [109]:
log_files

0    GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [111]:
log_files.str.extract(r'''
^
(?P<method>[A-z]+)
\s
(?P<path>.*?)
\s
\[
(?P<time>.*)
\]
\s
(?P<version>.*?)
\s
\{
(?P<response_code>\d*)
\}
\s
(?P<request_size>\d*)
\s
\"
(?P<browser_client>.*)
\"
\s
(?P<ip>.*)$
''', re.VERBOSE)

,method,path,time,version,response_code,request_size,browser_client,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

> You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

    - How many words have at least 3 vowels?
    - How many words have at least 3 vowels in a row?
    - How many words have at least 4 consonants in a row?
    - How many words start and end with the same letter?
    - How many words start and end with a vowel?
    - How many words contain the same letter 3 times in a row?
    - What other interesting patterns in words can you find?

In [113]:
file= open('/usr/share/dict/words')
words = pd.read_csv(file, names = ['word'])
words.head(10)

       word
0         A
1         a
2        aa
3       aal
4     aalii
5       aam
6      Aani
7  aardvark
8  aardwolf
9     Aaron

In [118]:
# - How many words have at least 3 vowels?

words[words.word.apply(lambda i: re.match(r'\w*[aeiou]\w*[aeiou]\w*[aeiou]\w*', str(i).lower()) is not None)]

               word
4             aalii
6              Aani
7          aardvark
8          aardwolf
9             Aaron
...             ...
235874  zymotically
235875     zymotize
235876    zymotoxic
235878     Zyrenian
235885   Zyzzogeton

[191363 rows x 1 columns]

In [119]:
# How many words have at least 3 vowels in a row?

words[words.word.apply(lambda i: re.match(r'.*[aeiou]{3}.*', str(i).lower()) is not None)]

                   word
234          Abietineae
235         abietineous
301         ablatitious
434         abranchious
507         absenteeism
...                 ...
235800      Zygophyceae
235801     zygophyceous
235802   Zygophyllaceae
235803  zygophyllaceous
235808    Zygopteraceae

[6182 rows x 1 columns]

In [122]:
# How many words have at least 4 consonants in a row?

words[words.word.apply(lambda i: re.match(r'.*[^aeiou]{4}.*', str(i).lower()) is not None)]

                        word
57               abarthrosis
73               abashlessly
144           abdominocystic
146     abdominohysterectomy
147      abdominohysterotomy
...                      ...
235880                Zyryan
235881                zythem
235882                Zythia
235883                zythum
235885            Zyzzogeton

[19241 rows x 1 columns]

In [123]:
# How many words start and end with the same letter?

words[words.word.apply(lambda i: re.match(r'^(\w)\w*\1$', str(i).lower()) is not None)]

            word
2             aa
16           aba
18        Ababua
20         abaca
43         Abama
...          ...
234893     yucky
234913     yummy
234929  Yurupary
235344      zizz
235346     Zmudz

[11454 rows x 1 columns]

In [124]:
# How many words start and end with a vowel?

words[words.word.apply(lambda i: re.match(r'^[aeiou].*[aeiou]$', str(i).lower()) is not None)]

             word
2              aa
4           aalii
6            Aani
12       Aaronite
14           Aaru
...           ...
226473     uvulae
226475   Uvularia
226479  uvulotome
226486  uxoricide
226491      uzara

[14657 rows x 1 columns]

In [121]:
# - How many words contain the same letter 3 times in a row?

words[words.word.apply(lambda i: re.match(r'\w*(\w)\1{2}\w*', str(i).lower()) is not None)]

                    word
24988           bossship
50636    demigoddessship
78498        goddessship
82997   headmistressship
140481     patronessship
230262          wallless
231688         whenceeer

In [125]:
# What other interesting patterns in words can you find?

words[words.word.apply(lambda i: re.match(r'^[^aeiou]*[a][^aeiou]*[e][^aeiou]*[i][^aeiou]*[o][^aeiou]*[u][^aeiou]*$', str(i).lower()) is not None)]

                word
578       abstemious
579     abstemiously
583      abstentious
1331       acheilous
1333       acheirous
1553      acleistous
3417      affectious
8915      annelidous
13584      arsenious
13707      arterious
17530     bacterious
28542       caesious
67764      facetious
67765    facetiously
73083    fracedinous
110326    majestious

In [132]:
words[words.word.apply(lambda i: re.match(r'.*chase.*', str(i).lower()) is not None)]

                 word
19736         bechase
33853           chase
33854       chaseable
33855          chaser
42832     copurchaser
54630        dischase
61594         enchase
61595        enchaser
72030        forchase
72117       forechase
95958      interchase
117427    mispurchase
127048    nonpurchase
127049   nonpurchaser
133401       outchase
134420      overchase
135556   overpurchase
154656    prepurchase
154657   prepurchaser
157275    propurchase
160234       purchase
160235      purchaser
160236     purchasery
164416        rechase
164417       rechaser
167474     repurchase
167475    repurchaser
189072   steeplechase
189073  steeplechaser
191711      subchaser
192619   subpurchaser
212438       unchased
221193    unpurchased
231273   weightchaser